:root {
  --background1: repeating-linear-gradient(-45deg, black, black 5px, rgb(60, 1, 68) 5px, rgb(60, 1, 68) 10px);
  --background2: repeating-linear-gradient(-45deg, yellow, yellow 5px, white 5px, white 10px);
}
body {
  width: 100%;
}
/* Navigation bar */
#logo {
  width: 50px;
}

#logo-text {
  font-family: 'Nerko One', cursive;
}

.customNav {
  position: fixed !important;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
    flex-direction: row !important;
    justify-content: end;
}
.nav-item {
    margin: 0 30px;
}

.navbar-logo img {
    padding-right: 15px;
    width: 65px;
    border-radius: 50%;
  }

  .navbar-logo {
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none !important;
  }

  .customNav a {
    color: white !important;
  }
/* Jumbotron */
#hero {
  background: var(--background1);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  
}
.jumboCopy {
  width: 70%;
  max-width: 1200px;
  color: white;
  text-align: center;
    font-weight: bold;
}
/* Hero section content */
#hero-image img {
  width: 300px;
  border-radius: 20%;
  border: 3px solid var(--dark)
}
#about li {
  list-style: none;
  font-size: 1.5em;
}
/* JS cubes */
#js-img {
position: relative;
left: 150px;
display: blcok;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#html {
  left: -100px;
  bottom: 120px;
  background-image: url("../images/html-square.png");
  background-size: cover;
  background-color: rgb(246, 157, 125);
  box-shadow: -90px 80px 20px rgb(50 50 50/ 15%);
  animation: animate 7s ease-in-out infinite;
}
#html:before {
  background-color: rgb(147, 69, 40);
}

#html:after {
  background-color: rgb(246, 157, 125);
}

#css {
  left: 40px;
  bottom: 240px;
  background-image: url("../images/css-square.png");
  background-size: cover;
  background-color: rgb(71, 71, 231);
  box-shadow: -100px 80px 20px rgb(50 50 50/ 15%);
  animation: animate 5.5s ease-in-out infinite;
}

#css:before {
  background-color: rgb(52, 52, 122);
}

#css:after {
  background-color: rgb(100, 100, 229);
}
#javascript {
  left: 100px;
  bottom: 65px;
  background-image: url("../images/javascript-square.png");
  background-size: cover;
  background-color: #f6cd45;
  box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
  animation: animate 6s ease-in-out infinite;
}

#javascript:before {
  background-color: #b49633;
}

#javascript:after {
  background-color: #f7e199;
}

@keyframes animate {
  0%,
  100% {
    transform: scale(0.2) rotate(-25deg) skew(25deg);
  }
  50% {
    transform: scale(1.2) rotate(10deg) skew(25deg);
  }
}
/* Work section */


#work {
  background: var(--background2);
  height: 100%;
  padding: 50px 0;
}

#work a {
  text-decoration: none;
  color: var(--dark);
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* Skills section */

#skills {
  background: var(--background1);
  padding: 50px 0;
  color: white;
}

/* About me section */

#contact {
  background: var(--background2);
  padding: 50px 0;
}

/* Contact me section */

#links {
  font-size: 50px;
}

/* Footer */

footer {
  height: 100%;
  background: var(--background1);
  padding: 10px;
}
#button {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  #js-img {
    display: none;
  }
}