:root {
  --background1: rgb(60, 1, 68);
  --background2: yellow;
}
/* Navigation bar */
.customNav {
  position: fixed !important;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
    flex-direction: row !important;
    justify-content: end;
}
.nav-item {
    margin: 0 30px;
}

.navbar-logo img {
    padding-right: 15px;
    width: 65px;
    border-radius: 50%;
  }

  .navbar-logo {
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none !important;
  }

  .customNav a {
    color: white !important;
  }
/* Jumbotron */
#hero {
  background: var(--background1);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  
}
.jumboCopy {
  width: 70%;
  max-width: 1200px;
  color: white;
  text-align: center;
    font-weight: bold;
}
/* Hero section content */
#hero-image img {
  width: 300px;
  border-radius: 20%;
  border: 3px solid var(--dark)
}
#about li {
  list-style: none;
  font-size: 1.5em;
}

/* Work section */


#work {
  background-color: var(--background2);
  height: 100%;
  padding: 50px 0;
}

#work a {
  text-decoration: none;
  color: var(--dark);
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* Skills section */

#skills {
  background-color: var(--background1);
  padding: 50px 0;
  color: white;
}

/* About me section */

#contact {
  background-color: var(--background2);
  padding: 50px 0;
}

/* Contact me section */

#links {
  font-size: 50px;
}

/* Footer */

footer {
  height: 150px;
  background-color: var(--background1);
}